@tailwind base;
@tailwind components;
@tailwind utilities;


.success {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(187 247 208 / var(--tw-bg-opacity));
}

.error {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(254 202 202 / var(--tw-bg-opacity));
}

.bg-image {
    background-image: url("../assets/img/bg-merge.png");
}


.bg-image1 {
    background-image: url("../assets/img/smartphone.jpg");
}


.bg-image2 {
    background-image: url("../assets/img/street.jpg");
}