{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J6 Balbacuahan</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    
</head>
<style>
    [x-cloak] { display: none !important; }
  </style>
<body>
<div id="message-swap">
    {% if messages %}
    {% for message in messages %}
    <div x-data="{open:true}" x-show="open" x-init="setTimeout(()=>{open=false}, 2000)" x-cloak class="container mx-auto px-5 fixed top-5 z-50">
        <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lgs" role="alert">
            <span class="font-medium">Success</span> {{message}}
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% block content %}
{% endblock %}
{% include 'components/floating_button.html' %}


<!-- AlpineJS Library -->
<script src="{% static 'js/alpine.js' %}"></script>
<script src="{% static 'js/htmx.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>