{% extends 'base.html' %}


{% block content %}
{% include 'components/header.html' %}

    <div class="container py-10 mx-auto mb-10">
        <div class="container max-w-md mx-auto bg-white rounded-lg shadow-lg md:max-w-xl">
            <div class="md:flex ">
                <div class="w-full p-4 px-5 py-5">
                    <div class="flex flex-row gap-2 mb-4">
                        <h2 class="text-3xl font-semibold">J6</h2>
                        <h2 class="text-3xl font-semibold text-green-400">Balbacua</h2>
                    </div>
                    <div class="mb-10 text-3xl font-semibold">Checkout</div>
                    <div class="mb-5 text-gray-600">
                        <p>Please check your information before issue an order.</p>
                        <p>Please enter your current cellphone number and address.</p>
                        <p>J6 balbacuahan will contact your number after you issue an order</p>
                    </div>
                    <div class="p-2 text-gray-600 border border-dashed border-j6primary">
                        <h3 class="mb-2 text-xl font-semibold">Customer's Information</h3>
                        <div>First Name: {{profile.first_name|title}}</div>
                        <div>Last Name: {{profile.last_name|title}}</div>
                        <div>Address: {{profile.address|title}}</div>
                        <div>Barangay: {{profile.barangay.name|title}}</div>
                        <div>Contact: {{profile.cellphone_number}}</div>
                        <div>Email: {{profile.email_address}}</div>
                        
                        
                    </div>
                    
                        {% csrf_token %}
                        <div class="p-2 mt-10 text-gray-600 border border-gray-600">
                            <ul class="list-disc">
                                <h3 class="mb-2 text-xl font-semibold">List of Orders</h3>
                        
                                {% for cart in cart_items  %}
                                <li class="mb-2 ml-5">
                                    <div class="flex gap-2">
                                        <div name="">{{cart}} x</div>
                                    {% for key, value in counter.items %}
                                        {% if key == cart.pk %}
                                        <div name="">{{value}}</div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <form action="{% url 'order' %}" method="POST" hx-boost="true" hx-confirm="Please check your contact and address before you order. Are you sure you want to order this?">
                                {% csrf_token %}
                                <div class="mb-2">
                                    <label for="payment">Payment method:</label>
                                
                                    <select name="payment" class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-md focus:border-j6primary focus:ring-j6primary focus:outline-none focus:ring focus:ring-opacity-40" name="payment" id="">
                                    <option value="GCASH">Gcash</option>
                                    <option value="COD">Cash on Delivery</option>
                                    </select>

                                <button id="btn-submit" x-data @form-submit.window="$el.click()" type="submit" class="hidden"></button>
                            
                                </div>
                            </form>
                           
                            <div class="mb-2" id="shipping-fee">
                                Shipping Fee: {{profile.barangay.shipping_fee}} 
                            </div>
                            
                            <div>Total: {{final_total}}</div>

                        </div>

                        <div class="mt-5">
                            <button
                            x-data
                            @click="$dispatch('form-submit')"
                            class="px-4 py-2 text-white transition-colors duration-200 transform rounded-md bg-j6primary hover:bg-green-500 focus:outline-none focus:bg-green-500"
                            >
                            Order Submit
                            </button>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

{% include 'components/footer.html' %}
{% endblock content %}


