{% extends 'base.html' %}


{% block content %}
{% include 'components/header.html' %}

    <div class="container flex flex-col items-center min-h-screen py-10 mx-auto mb-10">
        <div class="flex flex-col items-center">
            <h1 class="text-5xl font-semibold text-gray-700">Cash on Delivery Order Success</h1>
            <p class="mt-5 font-semibold text-gray-700">
                View your order.
            </p>

        </div>
        <div class="mt-5">
            <a href="{% url 'order-list' %}">
                <button 
                    class="px-4 py-2 text-white transition-colors duration-200 transform rounded-md bg-j6primary hover:bg-green-500 focus:outline-none focus:bg-green-500"
                    >
                    View Orders
                </button>
            </a>
            <a href="{% url 'index' %}">
                <button 
                    class="px-4 py-2 text-white transition-colors duration-200 transform rounded-md bg-j6primary hover:bg-green-500 focus:outline-none focus:bg-green-500"
                    >
                    Home
                </button>
            </a>
        </div>
        
    </div>

{% include 'components/footer.html' %}
{% endblock content %}


