{% extends 'base.html' %}


{% block content %}
{% include 'components/header.html' %}

    <div class="container flex flex-col items-center min-h-screen py-10 mx-auto mb-10">
        <div class="mb-5 text-xl text-gray-700">Order Details</div>
        <div class="p-5 mb-5 text-gray-700 border border-dashed border-j6primary">
            <div>Full name: <span class="text-j6primary">{{profile.first_name|title}} {{profile.middle_initial|title}} {{profile.last_name|title}}</span> </div>
            <div>Address: <span class="text-j6primary">{{profile.address|title}}</span></div>
            <div>Barangay: <span class="text-j6primary">{{profile.barangay.name}}</span></div>
            <div>Contact number: <span class="text-j6primary">{{profile.cellphone_number}}</span></div>
        </div>
        <div class="p-5 text-gray-700 border border-j6primary">
            <div>Order Id: {{order.id}}</div>
            <ul class="p-3 list-disc">
            <p>List of Orders</p>
            {% for food in order_items %}
            <li class="ml-5">{{food}} X {{food.quantity}}</li>
            {% endfor %}
            </ul>
            <div>Payment method: <span class="text-j6primary">{{ order.payment_method }}</span></div>
            <div>Shipping fee: <span class="text-j6primary">{{ order.shipping_fee }}PHP</span></div>
            <div>Total: <span class="text-j6primary">{{ order.total }} PHP</span></div>
            <div>Order Status: <span class="text-j6primary">{{order.order_status}}</span></div>
        </div>
        
    </div>

{% include 'components/footer.html' %}
{% endblock content %}


