{% extends 'base.html' %}


{% block content %}

{% include 'components/header.html' %}

    <div class="container mx-auto py-10 mb-10">
        <div class="container mx-auto max-w-md bg-white shadow-lg rounded-lg md:max-w-xl">
            <div class="md:flex ">
                <div class="w-full p-4 px-5 py-5">
                    <div class="flex gap-2 flex-row mb-4">
                        <h2 class="text-3xl font-semibold">J6</h2>
                        <h2 class="text-3xl text-green-400 font-semibold">Balbacua</h2>
                    </div>
                    <div class="mb-10 text-3xl font-semibold">Profile</div>
                    <div class="border border-j6primary border-dashed p-5">
                        <h3>Customer's Information</h3>
                        
                        <form action="{% url 'profile-edit' %}" method="POST" hx-boost="true">
                            {% csrf_token %}
                            {{form}}
                        
                        
                    </div>

                    <div class="mt-5">
                        
                            <button
                            class="px-4 py-2 text-white transition-colors duration-200 transform rounded-md bg-j6primary hover:bg-green-500 focus:outline-none focus:bg-green-500"
                            >
                            Save Profile
                            </button>
                      
                    </div>
                    </form>
                        
                    
                </div>
            </div>
        </div>
    </div>

{% include 'components/footer.html' %}s


{% endblock content %}