<section>
    <div class="flex flex-col items-center justify-center min-h-screen bg-sky-100">
        <h3 class="mb-4 text-2xl text-gray-700">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, obcaecati?
        </h3>
        <iframe class="w-full bg-white" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15839.947465356567!2d125.084382!3d7.010827!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x94f1fd18a4fbee3d!2zN8KwMDAnNDQuMiJOIDEyNcKwMDUnMTEuMiJF!5e0!3m2!1sen!2sus!4v1657761151110!5m2!1sen!2sus" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

